.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.341rem;
  text-align: center;
}
.newsletter__title {
  text-align: inherit;
  font-size: 2.5rem;
  letter-spacing: 10px;
}
.newsletter__title--weak {
  display: block;
  color: var(--desaturated-red);
  font-weight: 300;
}
.newsletter__description {
  text-align: inherit;
  line-height: 2rem;
  margin: 0.8rem 0;
}
.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: transparent;
  margin-top: 1rem;
}
.newsletter__group {
  width: 100%;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    transform: translateY(-50%);
    background-image: url("/public/img/icon-error.svg");
    background-repeat: no-repeat;
    right: 3.8rem;
    top: 50%;
    opacity: 0;
  }
  @media screen and (min-width: 1024px) {
    &:after {
      right: 5.8rem;
    }
  }
}
.newsletter__group--error {
  &:after {
    opacity: 1;
  }
}
.newsletter__field-email {
  position: relative;
  border: 3px solid transparent;
  background-color: transparent;
  width: inherit;
  padding: 1.2rem 2rem;
  border-radius: 60px;
  border: thin solid var(--desaturated-red);
  color: black;
  font-family: var(--font-primary);
  font-size: 1.1rem;

  &::placeholder {
    color: var(--desaturated-red);
    background-color: transparent;
  }
  &:focus {
    outline: none;
  }
  &--border-red {
    @extend .newsletter__field-email;
    border: 3px solid var(--soft-red);
  }
}
.newsletter__button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background-image: url("/public/img/icon-arrow.svg"), var(--gradient2);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 1.9rem;
  border-radius: 28px;
  box-shadow: -5px 15px 20px 1px hsla(0, 93%, 68%, 0.2);
  &:hover {
    background-image: url("/public/img/icon-arrow.svg"), var(--gradient1);
    background-position: center;
    box-shadow: -5px 15px 20px 1px var(--gradient1);
  }
  &:focus {
    outline: none;
  }
}
