@import "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap";
:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --darkgrayish-red: hsl(0, 6%, 24%);
  --font-primary: "Josefin Sans", sans-serif;
  --gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: 1rem;
  height: 100vh;
  color: var(--desaturated-red);
  background-image: var(--gradient1);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

h1 {
  color: black;
}

.header {
  background-color: white;
}

.header__logo {
  padding: 2rem;
}

.banner {
  min-width: 375px;
  height: 250px;
  background-image: url("../img/hero-mobile.jpg");
  background-size: cover;
}

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 1.341rem;
  text-align: center;
}

.newsletter__title {
  text-align: inherit;
  font-size: 2.5rem;
  letter-spacing: 10px;
}

.newsletter__title--weak {
  display: block;
  color: var(--desaturated-red);
  font-weight: 300;
}

.newsletter__description {
  text-align: inherit;
  line-height: 2rem;
  margin: 0.8rem 0;
}

.newsletter__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: transparent;
  margin-top: 1rem;
}

.newsletter__group {
  width: 100%;
  position: relative;
}
.newsletter__group:after {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
  background-image: url("../img/icon-error.svg");
  background-repeat: no-repeat;
  right: 3.8rem;
  top: 50%;
  opacity: 0;
}
@media screen and (min-width: 1024px) {
  .newsletter__group:after {
    right: 5.8rem;
  }
}

.newsletter__group--error:after {
  opacity: 1;
}

.newsletter__field-email, .newsletter__field-email--border-red {
  position: relative;
  border: 3px solid transparent;
  background-color: transparent;
  width: inherit;
  padding: 1.2rem 2rem;
  border-radius: 60px;
  border: thin solid var(--desaturated-red);
  color: black;
  font-family: var(--font-primary);
  font-size: 1.1rem;
}
.newsletter__field-email::placeholder, .newsletter__field-email--border-red::placeholder {
  color: var(--desaturated-red);
  background-color: transparent;
}
.newsletter__field-email:focus, .newsletter__field-email--border-red:focus {
  outline: none;
}
.newsletter__field-email--border-red {
  border: 3px solid var(--soft-red);
}

.newsletter__button {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background-image: url("../img/icon-arrow.svg"), var(--gradient2);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 1.9rem;
  border-radius: 28px;
  box-shadow: -5px 15px 20px 1px rgba(249, 98, 98, 0.2);
}
.newsletter__button:hover {
  background-image: url("../img/icon-arrow.svg"), var(--gradient1);
  background-position: center;
  box-shadow: -5px 15px 20px 1px var(--gradient1);
}
.newsletter__button:focus {
  outline: none;
}

.message-error {
  font-size: 0.8rem;
  color: var(--soft-red);
  width: 100%;
  max-width: 500px;
  padding-top: 0.6rem;
  padding-left: 2.1rem;
}
.message-error__text {
  text-align: left;
}
.message-error__text--not-show {
  opacity: 0;
}

@media screen and (min-width: 1024px) {
  body {
    flex-wrap: wrap;
    background-image: url("../img/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
  }

  .header {
    background-color: transparent;
    padding-top: 4rem;
    padding-left: 10rem;
  }

  .banner {
    order: 1;
    background-image: url("../img/hero-desktop.jpg");
    height: 100vh;
  }

  .newsletter {
    height: calc(100vh - 200px);
    max-width: 820px;
    padding-left: 12rem;
    padding-right: 10rem;
    text-align: left;
  }
  .newsletter__title {
    font-size: 4.8rem;
  }
  .newsletter__button {
    padding-right: 2.9rem;
    padding-left: 2.9rem;
  }
}

/*# sourceMappingURL=index.css.map */
